<link rel="stylesheet" href="/static/styles/weather.css" type="text/css" media="screen, print">
<div id="weather_wrapper">
    <div class="weatherCard">
        <div class="currentTemp">
            <span class="header">Сейчас</span>
            <span class="temp">{{ weatherData.temperature }}&deg;
            <span class="feels_like">({{ weatherData.feels_like }}&deg;)</span></span>
            <span class="location">{{ condition.full_text }}</span>
        </div>
        <div class="currentWeather">
            <span class="conditions"><i class="wi wi-{{ condition.icon }}"></i></span>
            <div class="info">
                <span class="rain">{{ forecast1.prec_mm }} мм</span>
                <span class="wind">{{ weatherData.wind_speed }}<br/>м/с</span>
            </div>
        </div>
    </div>
</div>
<div id="weather_wrapper" class="next">
    <div class="weatherCard">
        <div class="currentTemp">
            <span class="header">Потом</span>
            <span class="temp">{{ forecast2.temp_avg }}&deg;
            <span class="feels_like">({{ forecast2.feels_like }}&deg;)</span></span>
            <span class="location">{{ forecast2_condition.full_text }}</span>
        </div>
        <div class="currentWeather">
            <span class="conditions"><i class="wi wi-{{  forecast2_condition.icon }}"></i></span>
            <div class="info">
                <span class="rain">{{ forecast2.prec_mm }} мм</span>
                <span class="wind">{{ forecast2.wind_speed }}<br/>м/с</span>
            </div>
        </div>
    </div>
</div>


{{ "day" if weatherData.is_day_time else "night" }}
<br>
{{ weatherData.pressure }}
{{ weatherData.humidity }}